server:
  port: 8080

spring:
  application:
    name: sgu-extra-sisu-service
  datasource:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:sgu_extra_sisu_db}?stringtype=unspecified&prepareThreshold=0
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  sql.init.mode: never
  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    show-sql: true
    database: postgresql

---
spring.config.activate.on-profile: docker
server:
  port: 8080

---
spring.config.activate.on-profile: test

spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:transporte;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create-drop
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    show-sql: true
    database: h2
  h2:
    console:
      enabled: true
      path: /h2-console
  sql.init.mode: never